---
import Button from "./Button.astro";
---

<Button color={"primary"} variant={"solid"} className={"min-w-max"}>
  <span
    class="flex relative z-[5] text-lg font-semibold tracking-wide text-accent-light"
  >
    ¡Regístrate ahora!
  </span>
</Button>
